<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      background-image: url('https://wrench.com/blog/content/images/2019/11/ecofriendly.jpg');
	    background-repeat:no-repeat;
	    background-position-x: center;
	    background-size: 100% ;
    }
  </style>
  <meta charset="UTF-8">
  <title>Add Vehicle Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  {% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
      <li>
        {{error}}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Add Vehicle</h2>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('add_item') }}">
            <div class="form-group">
              <label for="category">Category</label>
              <select  type="text" class="form-control" id="category" placeholder="Enter Vehicle Category", name="category">
                <option value="Sedan/Wagon">Sedan/Wagon</option>
                <option value="SUV">SUV</option>
              </select>
            </div>
            <div class="form-group">
              <label for="drivetrain">Drivetrain</label>
              <select  type="text" class="form-control" id="drivetrain" placeholder="Enter Vehicle Drivetrain", name="drivetrain">
                <option value="4WD">4WD</option>
                <option value="AWD">AWD</option>
                <option value="FWD">FWD</option>
                <option value="RWD">RWD</option>
                <option value="Part-Time 4WD">Part-Time 4WD</option>
              </select>
            </div>
            <div class="form-group">
              <label for="year">Model Year</label>
              <select  type="text" class="form-control" id="year" placeholder="Enter Vehicle Model Year", name="year">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
              </select>
            </div>
            <div class="form-group">
              <label for="cylinder">Engine Cylinder</label>
              <select type="text" class="form-control" id="cylinder" placeholder="Enter Vehicle Engine Cylinder", name="cylinder">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="Electric">Electric</option>
              </select>
              </div>
            <div class="form-group">
              <label for="size">Engine Size</label>
              <input type="text" class="form-control" id="size" placeholder="Enter Vehicle Engine Size", name="size">
            </div>
            <div class="form-group">
              <label for="size">Engine Type</label>
              <select type="text" class="form-control" id="type" placeholder="Enter Vehicle Engine Type", name="type">
                <option value="CI">CI</option>
                <option value="e-motor">e-motor</option>
                <option value="SI">SI</option>
              </select>
            </div>
            <div class="form-group">
              <label for="fuel">Fuel</label>
              <select type="text" class="form-control" id="fuel" placeholder="Enter Vehicle Fuel Type", name="fuel">
                <option value="Biodiesel (B20)">Biodiesel (B20)</option>
                <option value="Electric">Electric</option>
                <option value="Ethanol (E85)">Ethanol (E85)</option>
                <option value="Hybrid Electric">Hybrid Electric</option>
                <option value="Hydrogen Fuel Cell">Hydrogen Fuel Cell</option>
                <option value="Plug-in Hybrid Electric">Plug-in Hybrid Electric</option>
              </select>
            </div>
            <div class="form-group">
              <label for="manufacturer">Manufacturer</label>
              <input type="text" class="form-control" id="manufacturer" placeholder="Enter Vehicle Manufacturer", name="manufacturer">
            </div>
            <div class="form-group">
              <label for="model">Model</label>
              <input type="text" class="form-control" id="model" placeholder="Enter Vehicle Model", name="model">
            </div>
            <div class="form-group">
              <label for="transmission">Transmission Type</label>
              <select type="text" class="form-control" id="transmission" placeholder="Enter Vehicle Transmission Type", name="transmission">
                <option value="Auto">Auto</option>
                <option value="Manual">Manual</option>
              </select>
            </div>
            <div class="form-group">
              <label for="city">Conventional Fuel Economy City</label>
              <input type="text" class="form-control" id="city" placeholder="Enter Vehicle Conventional Fuel Economy City", name="city">
            </div>
            <div class="form-group">
              <label for="highway">Conventional Fuel Economy Highway</label>
              <input type="text" class="form-control" id="highway" placeholder="Enter Vehicle Conventional Fuel Economy Highway", name="highway">
            </div>
            <div class="form-group">
              <label for="combined">Conventional Fuel Economy Combined</label>
              <input type="text" class="form-control" id="combined" placeholder="Enter Vehicle Conventional Fuel Economy combined", name="combined">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Add Vehicle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.15/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
