<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    body {
      background-image: url('https://wrench.com/blog/content/images/2019/11/ecofriendly.jpg');
	    background-repeat:no-repeat;
	    background-position-x: center;
	    background-size: 100% ;
    }
  </style>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
      {% if errors %}
      <div class="alert alert-danger">
        <ul>
          {% for error in errors %}
          <li>
            {{error}}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if success_msg %}
      <div class="alert alert-success">
        <p>success_msg</p>
      </div>
      {% endif %}
      {% if success_r %}
      <div class="alert alert-success">
        <p>Account Registered Successfully. Please login</p>
      </div>
      {% endif %}
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header text-center">
                <h3>Login</h3>
              </div>
              <div class="card-body">
<form method="post">
    <input type="text" aria-label="Firt Name" class="form-control" placeholder="Username", name="Username">
</br>
<input aria-label="Last Name" class="form-control" placeholder="Password", name="Password" type="Password">
</br>
<input type="Submit" value = "Login" class="btn btn-dark"></input>
</form> 
<a href="/register">Register</a>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.15/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>