<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      background-image: url('https://wrench.com/blog/content/images/2019/11/ecofriendly.jpg');
	    background-repeat:no-repeat;
	    background-position-x: center;
	    background-size: 100% ;
    }
  </style>
  <meta charset="UTF-8">
  <title>Registration Form</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  {% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
      <li>
        {{error}}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if success_r %}
  <div class="alert alert-success">
    <p>success_r</p>
  </div>
  {% endif %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h3>Registration</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('register') }}">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter First Name", name="firstname">
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name", name="lastname">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username", name="username">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email", name="email">
            </div>
            <div class="form-group">
              <label for="phonenumber">Phone Number</label>
              <input type="phonenumber" class="form-control" id="phonenumber" placeholder="Enter Phone Number", name="phonenumber">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password", name="password">
            </div>
            <div class="form-group">
              <label for="confirm_password">Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password", name="confirm_password">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.15/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
