<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Bar Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('https://wrench.com/blog/content/images/2019/11/ecofriendly.jpg');
	    background-repeat:no-repeat;
	    background-position-x: center;
	    background-size: 100% ;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <h3 class="text-center">Search Bar Example</h3>
  <form method="post" action="/search" class="mt-3">
    <div class="form-row">
      <div class="col-md-8">
        <input type="text" class="form-control" name="search_query" placeholder="Search...">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.15/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
