<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    body {
      background-image: url('https://wrench.com/blog/content/images/2019/11/ecofriendly.jpg');
	    background-repeat:no-repeat;
	    background-position-x: center;
	    background-size: 100% ;
    }
  </style>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div>
  &nbsp
</div>
<tr>
  <div class="text-center">
    <font color="gray"> <p style="font-family:verdana"><h1> Vehicle Fuel Efficiency</h1></p> </font> 
  </div>
</tr>

  <div>
    &nbsp
  </div>
<tr>
  <div class="text-center">
    <centre><font color="gray" size=3> 
      <p ALIGN=CENTER style="font-family:verdana">Learn more about the best technology for fuel saving and statistics, provide them with useful information </p>
      <p ALIGN=CENTER style="font-family:verdana">from the government and research, and Awareness consumers and people who are interested in saving fuel costs </p>
      <p ALIGN=CENTER style="font-family:verdana">or getting the data and the right decision about fuel efficiency in cars, provide the users the ability to search</p> 
      <p ALIGN=CENTER style="font-family:verdana">on specific car make, model and type to get the useful information easily from a trusted source</p> </font> </centre>
  </div>
</tr>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.15/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>